{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Sobre Nosotros - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <br>
                <p><h1 class="text-center"><b>Nuestro Sitio:</b></h1></p>
                <br>
                <p>Este sitio surgió como respuesta al pedido de Coderhouse de la entrega de un proyecto final en su curso sobre Python. Se debía trabajar en equipo (3 estudiantes), y crear una aplicación web libre, realizando todo lo aprendido en las clases dadas por el docente durante el curso y lo solicitado en la consigna del trabajo final. </p>
                <p>Puedes leer más sobre los detalles del proyecto en el archivo README.MD en el repositorio de GitHub donde se encuentra almacenado. <a href="https://github.com/AlanBourre/Entrega1-Bourre-Lugano-GomezMoyano.git">Leer más...</a></p>
                <br><br>
                <p><h2 class="text-center"><b>&#x1f4ac¿Quiénes somos?</b></h2></p>
                <br>
                <img src="{% static 'assets/Captura de pantalla 2022-06-13 131536.png' %}" class="rounded mx-auto d-block" alt="..." style="height: 200px;">
                <br>
                <h3 class="text-center">&#x2666<strong>Alan Bourre</strong></h3>
                <p class="text-center">Alan tiene 24 años, es de la ciudad de Pilar, Buenos Aires. Actualmente es estudiante de administración de empresas en la Universidad del Salvador y decidió empezar a involucrarse con el ambiente de la programación. Es apasionado por el futbol y los autos.</p>
                <img src="{% static 'assets/WhatsApp Image 2022-07-12 at 9.49.10 AM.jpeg' %}" class="rounded mx-auto d-block" alt="..." style="height: 180px;">
                <br>
                <h3 class="text-center">&#x2666<strong>Adrian Lugano</strong></h3>
                <p class="text-center">Adrian tiene 52 años, nació en la Ciudad Autónoma de Buenos Aires. Vivió 3 años en Londres, Reino Unido. Ahora, viendo todas las infinitas ramas y cosas que se pueden hacer con el desarrollo de software, decidió entrar en su fabuloso mundo.</p>
                <h3 class="text-center">&#x2666<strong>Alejandro Martin Gomez Moyano</strong></h3>
                <p class="text-center">Martin tiene 22 años, nació en Córdoba Argentina. Siempre vivió ahi y cada vez le gusta más. Es muy apasionado por el deporte en especial fútbol y pádel. Siempre fue bastante interesado en el ambiente de la tecnología, informática,etc. Pero ahora decidió introducirse en el mundo de la programación y lo tiene bastante entretenido.</p>
                <br>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}