{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Detalles - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
              <br><br>
                <p><h1 class="text-center"><b>Detalles del automóvil:</b></h1></p>
        <center><img class="rounded" src="{{ automovil.imagen.url }}" alt="" srcset="" style="height: 320px;"></center>        
                <p><h3 class="text-center"><b>{{ automovil.marca }} {{ automovil.modelo }}</b></h3></p>
                <p><h5 class="text-center">Tipo: {{automovil.get_tipo_display}}</h5></p>
                <p><h5 class="text-center">Color: {{automovil.color}}</h5></p>
                <p><h5 class="text-center">Condición: {{automovil.get_condicion_display}}</h5></p>
                <p><h5 class="text-center">Año: {{automovil.anio}}</h5></p>
                <p><h5 class="text-center">Kilometros: {{automovil.kms}}</h5></p>
                <p><h5 class="text-center">Precio: ${{automovil.precio}}</h5></p>

            </div>
        </div>
    </div>
</section>

{% endblock %}

