{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Automoviles - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-9">
                    <p><h1 class="text-center"><b>Automoviles:</b></h1></p>
                    <br>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12">
                            <form class="d-flex my-2 my-lg-0" action="" method="post">
                                {% csrf_token %}
                                <input class="flex-grow-0 form-control mr-sm-2" type="search" name="search" placeholder="Buscar por marca" aria-label="Search">
                                <button class="btn btn-outline-primary text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                                <a class="btn btn-outline-primary text-nowrap ms-3 my-2 my-sm-0" href="{% url 'formulario_automovil' %}"> <i class="bi bi-plus-lg"></i> Añadir automovil</a>
                            </form>
                        </div>
                    </div>
                    <br>             
                        <table class="table table-dark table-striped">
                            <thead>
                                <td>Marca</td>  <!-- table data -->
                                <td>Modelo</td>
                                <td>Tipo</td>
                                <td>Color</td>
                                <td>Condicion</td>
                                <td>Año</td>
                                <td>Kilometros</td>
                                <td>Precio $</td>
                                <td>Acciones</td>
                            </thead>
                            {% for auto in automovil %}
                            <tr> <!--- tr = table row -->
                                <td> {{auto.marca}} </td>
                                <td> {{auto.modelo}} </td>
                                <td> {{auto.get_tipo_display}} </td>
                                <td> {{auto.color}} </td>
                                <td> {{auto.get_condicion_display}} </td>
                                <td> {{auto.anio}} </td>
                                <td> {{auto.kms}} </td>
                                <td> ${{auto.precio}} </td>
                                <td>
                                    <a href="{% url 'editar_automovil' auto.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                                    <a href="{% url 'eliminar_automovil' auto.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>                                   
            </div>
        </div>
    </div>

</section>

{% endblock %}
