{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Buscar Automovil - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<h1 class="text-center mt-3">Buscar automovil: </h1>
    <form method="post" class="d-flex flex-column align-items-center mt-3">
        {% csrf_token %} 

        <input type="text" name="marca" id="" maxlength="30" placeholder="Marca">
        <input class="mt-2" type="submit"value="Buscar">
    </form>

<!--Resultado Busqueda -->
<table class="table table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Color</th>
        <th scope="col">Condicion</th>
        <th scope="col">Año</th>
        <th scope="col">Kilometros</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
     {%for auto in automoviles%}   
      <tr>
        <td class="table-light">{{auto.marca}}</td>
        <td class="table-light">{{auto.modelo}}</td>
        <td class="table-light">{{auto.get_tipo_display}}</td>
        <td class="table-light">{{auto.color}}</td>
        <td class="table-light">{{auto.get_condicion_display}}</td>
        <td class="table-light">{{auto.anio}}</td>
        <td class="table-light">{{auto.kms}}</td>
        <td class="table-light">${{auto.precio}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{% endblock %}