<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes:</h1>
    <h2>Estos son los clientes:</h2>
    <table>
        <thead>
            <td>Nombre</td>  <!-- table data -->
            <td>Apellido</td>
            <td>CUIL</td>
            <td>Direccion</td>
            <td>DNI</td>
            <td>Email</td>            
        </thead>
        {% for client in cliente %}
        <tr> <!--- tr = table row -->
            <td> {{client.nombre}} </td>
            <td> {{client.apellido}} </td>
            <td> {{client.cuil}} </td>
            <td> {{client.direccion}} </td>
            <td> {{client.dni}} </td>
            <td> {{client.email}} </td>            
        </tr>
        {% endfor %}
    </table>
</body>
</html>