{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Crear Cliente - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<h2>Crea un cliente nuevo:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- <p>Nombre: <input type="text" name="nombre" id="" maxlength="30"> </p>

    <p>Apellido: <input type="text" name="apellido" id="" maxlength="30"> </p>

    <p>CUIL: <input type="text" name="cuil" id="" maxlength="13"> </p>

    <p>Direccion: <input type="text" name="direccion" id="" maxlength="50"> </p>

    <p>DNI: <input type="number" name="dni" id="" min="0" maxlength="8"> </p>

    <p>Email: <input type="email" name="email" id=""> </p> -->
    
    <input type="submit" value="Añadir cliente">
</form>

{% endblock %}