{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Novedades - App Automoviles
{% endblock %}

{% block contenidoPagina %}
<br><br><br>

<p><h1 class="text-center"><b>Novedades</b></h1></p>
<div class="card">
  <img src="https://http2.mlstatic.com/D_NQ_NP_805620-MLA47397684913_092021-W.jpg" class="card-img-top" alt="..." style="width: 500px;">

  <div class="card-body">
    <h4 class="card-title">Nuevo ingreso de Toyota Hilux 2022.</h4>
    <h6><p class="card-text">Para más información ingresá</p></h6>
    <a href="{% url 'automovil' %}" class="btn btn-primary"> <strong>Aquí</strong></a>
  </div>
</div>

{% endblock %}