{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Sobre Nosotros - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <p><h1 class="text-center"><b>Novedades:</b></h1></p>
                <br>
                <p>Este sitio surgió como respuesta al pedido de Coderhouse de la entrega de un proyecto final en su curso sobre Python. Se debía trabajar en equipo (3 estudiantes), y crear una aplicación web libre, realizando todo lo aprendido en las clases dadas por el docente durante el curso. </p>
                <p>Puedes leer más sobre los detalles del proyecto en el archivo README.MD en el repositorio de GitHub donde se encuentra almacenado. <a href="https://github.com/AlanBourre/Entrega1-Bourre-Lugano-GomezMoyano.git">Leer más...</a></p>
                <br><br>
                <p><h2 class="text-center"><b>&#x1f4ac¿Quiénes somos?</b></h2></p>
                <br>
                <h3>&#x2666<strong>Alan Bourre</strong></h3>
                <p>Alan tiene 24 años, es de la ciudad de Pilar, Buenos Aires. Actualmente es estudiante de administración de empresas en la Universidad del Salvador y decidió empezar a involucrarse con el ambiente de la programación. Es apasionado por el futbol y los automoviles.</p>
                <h3>&#x2666<strong>Adrian Lugano</strong></h3>
                <p>Adrian tiene 54 años, es de la ciudad de Rafaela, Santa Fe. Es programador autodidacta desde los 13 años y actualmente trabajo como desarrollador. Le gusta todo tipo de música.</p>
                <h3>&#x2666<strong>Alejandro Martin Gomez Moyano</strong></h3>
                <p>Agustín tiene 29 años, es de la ciudad de Salsipuedes, Córdoba. Es Ingeniero Electrónico y actualmente trabaja como docente e investigador en la Universidad de la Defensa Nacional. Se considera un Cinéfilo y en pésimo deportista.</p>
                <br>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}