{% extends "Appautomoviles/base.html" %}
{% load static %}

{% block tituloPagina %}
Personal - App Automoviles
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <p><h1 class="text-center"><b>Personal:</b></h1></p>
                <br>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12">
                            <form class="d-flex my-2 my-lg-0" action="" method="post">
                                {% csrf_token %}
                                <input class="flex-grow-0 form-control mr-sm-2" type="search" name="search" placeholder="Buscar por nombre/apellido" aria-label="Search">
                                <button class="btn btn-outline-primary text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                                <a class="btn btn-outline-primary text-nowrap ms-3 my-2 my-sm-0" href="{% url 'formulario_personal' %}"> <i class="bi bi-plus-lg"></i> Añadir personal</a>
                            </form>
                        </div>
                    </div>
                    <br> 
                    <table class="table table-dark table-striped">
                        <thead>
                            <td>Nombre</td>  <!-- table data -->
                            <td>Apellido</td>                           
                            <td>Email</td> 
                            <td>Telefono</td>
                            <td>Acciones</td>           
                        </thead>
                        {% for persona in personal %}
                        <tr> <!--- tr = table row -->
                            <td> {{persona.nombre}} </td>
                            <td> {{persona.apellido}} </td>                           
                            <td> {{persona.email}} </td>  
                            <td> {{persona.telefono}} </td>  
                            <td>
                                <a href="{% url 'editar_personal' persona.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                                <a href="{% url 'eliminar_personal' persona.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                            </td>          
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div>

</section>

{% endblock %}
